<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Ohgiraffers' Restaurant</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="content">
        <div class="menu-grid">
            <div th:each="menu : ${menuList}">
                <a th:href="@{'/product/detail/' + ${menu.productCode}}">
                    <div class="menu-item">
                        <img th:src="${menu.productImageUrl}" th:alt="${menu.productName}">
                        <h3 th:text="${menu.productName}">메뉴 이름</h3>
                        <p th:text="${menu.productDescription}">메뉴 설명</p>
                        <p class="price" th:text="${#numbers.formatDecimal(menu.productPrice, 0, 'COMMA', 0, 'POINT')} + '원'">가격</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!--/* 페이지네이션 */-->
    <div class="pagination" th:if="${pagenation != null}">
        <a th:if="${pagenation.hasPrevious}" 
           th:href="@{/(page=${pagenation.page - 1})}"
           class="prev">&laquo; 이전</a>
           
        <th:block th:each="pageNum : ${#numbers.sequence(pagenation.startPage, pagenation.endPage)}">
            <a th:href="@{/(page=${pageNum})}"
               th:text="${pageNum}"
               th:class="${pageNum == pagenation.page ? 'active' : ''}"></a>
        </th:block>
        
        <a th:if="${pagenation.hasNext}"
           th:href="@{/(page=${pagenation.page + 1})}"
           class="next">다음 &raquo;</a>
    </div> 

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html> 